<?xml version="1.0"?>
<configuration>
  <appSettings/>
  <connectionStrings>
    <!-- REMEMBER TO CHANGE THIS TO POINT TO YOUR OWN DATABASE!!!-->
    <add name="WbConnectionString_old" connectionString="Data Source=SGWPAUPCD01;Initial Catalog=AdventureWorks;Persist Security Info=True;Integrated Security=True;"/>
	
    <add name="WbConnectionString" connectionString="Data Source=SGWPAUPCD01;User ID=PCWorkbenchApp;Password=password1;Initial Catalog=AdventureWorks;Persist Security Info=True;Application Name=PCWSApp;"    providerName="System.Data.SqlClient" />	
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.ApplicationServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Net, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <authentication mode="Windows"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <httpRuntime maxRequestLength="1048576" />
	<customErrors mode="Off"/>
	
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
	
  </system.web>
  <system.webServer>
    <httpErrors existingResponse="PassThrough" />
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
  </system.webServer>  
</configuration>
